{{ define "title" }}Login{{ end }}

{{ define "body" }}
  <h2>Log In</h2>
  <!-- Pressing Enter for login is disabled for the demo until the login endpoint is implemented -->
  <!-- Change back to: <form action="/api/login" method="POST"> -->
  <form action="/api/login" method="POST" onsubmit="return false">
    <dl>
      <dt>Username:
      <dd><input type="text" name="username" size="30">
      <dt>Password:
      <dd><input type="password" name="password" size="30">
    </dl>
    <div class="actions">
      <!-- Login is disabled for the demo until the login endpoint is implemented -->
      <!-- Change back to: <input type="submit" id="login-button" value="Log In"> -->
      <input type="submit" id="login-button" value="Log In" disabled>
    </div>
  </form>
{{ end }}